/**
 *
 * Folha de Stylo padrão
 *
 * Esta folha de estilo se aplica
 * ao projeto realizado para a
 * Udacity no trabalho de 'Site de Portólio'
 *
 * Criado por Thiago Rogério de Brito
 *
 **/


/* INÍCIO BREAKPOINTS */
@media screen and (min-width:771px){
    .jobs{width: 190px; height: 140px; margin: 0;}
    .alinhamento{justify-content: center;}
    .logo{float:left; margin-left: 10px;}
    .trabalhos{width:100%;}
}

@media screen and (max-width:770px){
    .jobs{width:100%;}
    .alinhamento{justify-content: center;}
}

@media screen and (min-width:550px) and (max-width:770px){
    hr{opacity:0}
    .logo{float:left; margin-left: 10px;}
    .titulo-jobs{margin-top:0 !important; margin-left:0 !important; text-align:center;}
}

@media screen and (max-width:549px){
    .logo{display:flex; justify-content:center;}
    .titulo-jobs{margin-top:0 !important; margin-left:0 !important; text-align:center;}
}
/* TÉRMINO BREAKPOINTS */


/*Estrutura*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lora', serif;
}

.header{
    width: 100%;
    height: 130px;
    margin-top: 25px;
}

h1, h2, h3, h4{
    margin:0;
    padding: 0;
}


/*Topo*/
.titulo{
    float:right;
    text-align: right;
    margin-right:40px;
}

.principal{
    font-size: 40px;
}


/*Slides*/
.slide{
    width: 100%
}

/*Trabalhos realizados*/
.titulo-jobs{
    margin-top:20px;
    margin-left: 1em;
    font-size: 2em;
    color: #A4A4A4;
}

.trabalhos{
    display: flex;
    flex-wrap: wrap;
}

.descricao_jobs{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.subdescricao_jobs{
    text-align: center;
    font-size: 15px;
}

/*Footer*/
footer{
    background-color:#d9d9d9;
    height: 75px;
    width: 100%;
}

.textofooter{
    padding-top: 3em;
    text-align:center;
}